In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
A= [1,2,3,4]
B= [5,6,7,8]
C= [9,8,7,6]
D= [5,4,3,2]
E= [4,5,6,7]

In [5]:
df = pd.DataFrame(data=[A,B,C,D,E],index=['z','y','x','w','b'],columns=['1st','2nd','3rd','4rth'])

In [6]:
df

   1st  2nd  3rd  4rth
z    1    2    3     4
y    5    6    7     8
x    9    8    7     6
w    5    4    3     2
b    4    5    6     7

In [7]:
#adding colums
df['addition 3rd and 4th']=df['3rd']+df['4rth']

In [8]:
df

   1st  2nd  3rd  4rth  addition 3rd and 4th
z    1    2    3     4                     7
y    5    6    7     8                    15
x    9    8    7     6                    13
w    5    4    3     2                     5
b    4    5    6     7                    13

In [18]:
#dropping row
#non permanent remove row
#by defulat it gonna remove row 
#for implace remove row will not remove permanently
df.drop(labels='z',inplace=False)

   1st  2nd  3rd  4rth  addition 3rd and 4th
y    5    6    7     8                    15
x    9    8    7     6                    13
w    5    4    3     2                     5
b    4    5    6     7                    13

In [22]:
#remove row permanently
#using inplace value "True"
df.drop(labels='z',inplace=True)

KeyError: "['z'] not found in axis"

In [23]:
df

   1st  2nd  3rd  4rth  addition 3rd and 4th
y    5    6    7     8                    15
x    9    8    7     6                    13
w    5    4    3     2                     5
b    4    5    6     7                    13

In [24]:
#dropping "columns"

In [25]:
df.drop(labels='1st',axis=1)

   2nd  3rd  4rth  addition 3rd and 4th
y    6    7     8                    15
x    8    7     6                    13
w    4    3     2                     5
b    5    6     7                    13

In [26]:
#dropping columns permanently

In [27]:
df.drop(labels='1st',axis=1,inplace=True)

In [28]:
df

   2nd  3rd  4rth  addition 3rd and 4th
y    6    7     8                    15
x    8    7     6                    13
w    4    3     2                     5
b    5    6     7                    13