In [1]:
import numpy as np
import pandas as pd

In [2]:
A= [1,2,3,4]
B= [5,6,7,8]
C= [9,8,7,6]
D= [5,4,3,2]
E= [4,5,6,7]

In [3]:
df = pd.DataFrame(data=[A,B,C,D,E],index=['z','y','x','w','b'],columns=['1st','2nd','3rd','4rth'])

In [4]:
df

   1st  2nd  3rd  4rth
z    1    2    3     4
y    5    6    7     8
x    9    8    7     6
w    5    4    3     2
b    4    5    6     7

In [14]:
#printing columns
df.loc['z']

1st     1
2nd     2
3rd     3
4rth    4
Name: z, dtype: int64

In [18]:
df.iloc[0]

1st     1
2nd     2
3rd     3
4rth    4
Name: z, dtype: int64

In [19]:
##___ row , columns___
df.loc['w','1st']

5

In [22]:
df[0:5]

   1st  2nd  3rd  4rth
z    1    2    3     4
y    5    6    7     8
x    9    8    7     6
w    5    4    3     2
b    4    5    6     7