In [1]:
import pandas as pd
import numpy as np

In [2]:
A= [1,2,3,4]
B= [5,6,7,8]
C= [9,8,7,6]
D= [5,4,3,2]
E= [4,5,6,7]

df = pd.DataFrame(data=[A,B,C,D,E],index=['z','y','x','w','b'],columns=['1st','2nd','3rd','4rth'])

In [3]:
df

   1st  2nd  3rd  4rth
z    1    2    3     4
y    5    6    7     8
x    9    8    7     6
w    5    4    3     2
b    4    5    6     7

In [4]:
df<3
#smaller then three are printing true
#bigger then three are printing Falase
# depending on all value

     1st    2nd    3rd   4rth
z   True   True  False  False
y  False  False  False  False
x  False  False  False  False
w  False  False  False   True
b  False  False  False  False

In [14]:
#printing numbers depending on frist columns
df[df['1st']>3]

   1st  2nd  3rd  4rth
y    5    6    7     8
x    9    8    7     6
w    5    4    3     2
b    4    5    6     7

In [15]:
#printing only 1st columns
df[df['1st']>3][['1st']]

   1st
y    5
x    9
w    5
b    4

In [16]:
#use multiple condition

In [24]:
df[(df['1st']>5) | (df['4rth']>5)]
#this is a or condition

   1st  2nd  3rd  4rth
y    5    6    7     8
x    9    8    7     6
b    4    5    6     7