In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
# joining two data frames

In [4]:
x1 = {'a':[1,2,3,4],'b':[5,6,7,8]}
y1 = {'c':[3,4,5,6],'e':[6,7,8,9]}

In [15]:
x = pd.DataFrame(x1,index=['p1','p2','p3','p4'])

In [14]:
y = pd.DataFrame(y1,index=['p1','p2','p3','p4'])

In [16]:
x

    a  b
p1  1  5
p2  2  6
p3  3  7
p4  4  8

In [17]:
y

    c  e
p1  3  6
p2  4  7
p3  5  8
p4  6  9

In [10]:
#lest join this two data frame

In [18]:
x.join(y, how = "right")

    a  b  c  e
p1  1  5  3  6
p2  2  6  4  7
p3  3  7  5  8
p4  4  8  6  9

In [19]:
x.join(y, how = "right")

    a  b  c  e
p1  1  5  3  6
p2  2  6  4  7
p3  3  7  5  8
p4  4  8  6  9

In [20]:
x.join(y, how = "outer")

    a  b  c  e
p1  1  5  3  6
p2  2  6  4  7
p3  3  7  5  8
p4  4  8  6  9

In [21]:
x = pd.DataFrame(x1,index=['p1','p2','p3','p4'])

In [22]:
#changing the index value of y
y = pd.DataFrame(y1,index=['p1','p2','p5','p6'])

In [23]:
x.join(y,how='outer')

      a    b    c    e
p1  1.0  5.0  3.0  6.0
p2  2.0  6.0  4.0  7.0
p3  3.0  7.0  NaN  NaN
p4  4.0  8.0  NaN  NaN
p5  NaN  NaN  5.0  8.0
p6  NaN  NaN  6.0  9.0

In [24]:
#for diffrent index we get some null values

In [26]:
#this will pring only the indexs that are matched
x.join(y,how='inner')

    a  b  c  e
p1  1  5  3  6
p2  2  6  4  7

In [27]:
x.join(y,how='left') 
#will give left values priority

    a  b    c    e
p1  1  5  3.0  6.0
p2  2  6  4.0  7.0
p3  3  7  NaN  NaN
p4  4  8  NaN  NaN

In [30]:
x.join(y,how='right')
#only give right value prority

      a    b  c  e
p1  1.0  5.0  3  6
p2  2.0  6.0  4  7
p5  NaN  NaN  5  8
p6  NaN  NaN  6  9